body{
	background-color:inherit;
	color:#008000; 
}

td{
	width:80px;
	height:420px;
	border: 20px solid #005000;
	margin: auto; 
	 
}
.titre{
	font-family: "century Gothic", "Helvetica Neve", Helvetica, sans serif;
	font-size:4.6em;
	text-align:center;
	color:#008000;
	text-shadow: 5px 0px 14px #004000;
	empty-cells:hide;
	height:80px;
	font-size:36px;
	
}

ul{

	margin:9px;
	padding:4px;
	list-style:none;
	align-content: center; 
	 white-space:nowrap;
	 max-width:45%;
}

.bar{
	background: #008000;	
	align-items:center;

}
.bar > li{
	display:inline-block;
	vertical-align:top;
	width:33%;
	height:30px;
	border-right:2px solid #BDB76B;
	margin: 10px -5px  0 0;
	position:center;
    height:40px;
  text-decoration-style:dashed;
  grid-template-rows:auto;
  text-decoration-line:none;
  text-align-last:center;
  transition-property:center; 
}
.bar > li > a{
	color:#003000;
	display:inline;
	font-family: "century Gothic", "Helvetica Neve", Helvetica, sans serif;
	font-weight:bold;
	text-align:left;
	width:inherit;
	height:inherit;
	text-decoration:none;
	line-height:40px;
	text-align: center;
	
}
.bar > li:hover > a{
	background-color:#005000;
	color:#7cfc00;

}
.bar > li > .bar1{
		display:none;
		background:rgba(7,0,0,9);

}
.bar > li:hover > .bar1{
	display:block;
	color:#003000; 
}
.bar > li > .bar1 > li{
	width:inherit;
	height:30px;
	background-color:#BDB76B;

}
 p{
	font-size:medium;
	text-align:center;
	color:#008000;
    }




